body {
  padding-top: 30px;
  background-image: url(./assets/img/let-there-be-sun.png);
  backdrop-filter: blur(2px);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}

.ui.tabular.menu .item {
  flex: 1;
  justify-content: center;
}

.ui.header .icon:only-child {
  margin-right: 0;
}